.carousel-item-fixed-height{
    margin-top: 86px;
    min-width: 100%;
}

.carousel-item-fixed-height img {
    height: 330px; /* Fixed height */
    object-fit: cover; /* Ensure the image covers the entire area */
  }