/*     new css     */

 html:focus-within {
  scroll-behavior: smooth;
}
img,
picture {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}

.btnCart {
  /* width: 100px!important; */
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #ff7d1a;
  color: #fff;
  box-shadow: 0 10px 10px 1px rgba(255, 125, 26, 0.4392156863);
}

.btnCart:hover,
.btnCart:focus {
  background-color: #ff7d1a;
  opacity: 0.5;
}

.thumbnail {
  border-radius: 0.5rem;
  background-color: #fff;
  height: 90px;
}
.thumbnail > img {
  cursor: pointer;
  width: 92px;
  height: 100%;
}
.thumbnail > img > img:hover,
.thumbnail > img > img:focus {
  filter: opacity(0.5);
}
.thumbnail .active {
  filter: opacity(0.35);
  border: 1.5px solid #ff7d1a;
}
.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}
.Orange {
  color: #ff7d1a;
}

.blue {
  color: #1d2025;
}

.darkGrayishBlue {
  color: #68707d;
}

.GrayishBlue {
  color: #b6bcc8;
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -10%;
  top: 85%;
  width: 360px;
  height: 256px;
  min-height: 256px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 10px 15px 5px rgba(0, 0, 0, 0.25);
}
.cart .cart__heading {
  padding: 1.5rem;
  border-bottom: 2px solid #f7f8fd;
}
.cart .cart__items {
  flex: 1;
  grid-template-columns: 1fr;
  padding: 1.5rem;
}
.cart .cart__items .cart__item {
  flex-direction: column;
  gap: 2rem;
}
.cart .cart__items .cart__item .item {
  align-items: center;
  height: 50px;
  gap: 1rem;
}
.cart .cart__items .cart__item .item > img:first-child {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 0.25rem;
}
.cart .cart__items .cart__item .item > img:last-child {
  cursor: pointer;
}
@media (max-width: 64em) {
  .cart {
    right: -2%;
    z-index: 100;
  }
}
@media (max-width: 37.5em) {
  .cart {
    top: 120%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.product {
  margin-top: 5.625rem;
}
.product .product-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 7.8125rem;
}
.product .product-container .product-image {
  flex-direction: column;
  gap: 2rem;
}
.product .product-container .product-image img {
  cursor: pointer;
  border-radius: 0.5rem;
}
.product .product-container .product-image .thumbnail-wrapper {
  align-items: center;
  gap: 2rem;
}
.product .product-container .product-description {
  padding-block: 3.875rem;
  /* margin-top: 1.5rem; */
}
.product .product-container .product-description .discounted-price {
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
}
.product .product-container .product-description .discounted-price .offer {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #ff7d1a 0.25;
}
.product .product-container .product-description .action-wrapper {
  align-items: center;
  gap: 1rem;
}
.product
  .product-container
  .product-description
  .action-wrapper
  .product-quantity {
  gap: 3.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f7f8fd;
}
.product
  .product-container
  .product-description
  .action-wrapper
  .product-quantity
  > img:hover,
  .product
  .product-container
  .product-description
  .action-wrapper
  .product-quantity
  > img:focus {
  cursor: pointer;
  filter: opacity(0.5);
}
@media (max-width: 64em) {
  .product {
    margin-top: 3rem;
  }
  .product .product-container {
    padding-inline: 2rem;
    gap: 2rem;
  }
  .product .product-container .product-image .thumbnail-wrapper {
    justify-content: center;
  }
  .product .product-container .product-description {
    padding-block: 2rem;
  }
  .product .product-container .product-description .action-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .product
    .product-container
    .product-description
    .action-wrapper
    .product-quantity {
    justify-content: center;
  }
}
          

/* @media (max-width: 48em) { */
  @media (max-width: 35em) {
  .product {
    margin-top: 0;
  }
  .product .product-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .product .product-container .product-image {
    position: relative;
  }
  .product .product-container .product-image img {
    cursor: none;
    border-radius: 0;
  }
  .product .product-container .product-image .lightbox-control {
    width: 40px;
  }
  .product .product-container .product-image .control-prev {
    top: 50%;
    left: 5%;
  }
  .product .product-container .product-image .control-next {
    top: 50%;
    right: 5%;
  }
  .product .product-container .product-image .thumbnail-wrapper {
    display: none;
  }
  .product .product-container .product-description {
    padding-inline: 1.5rem;
  }
  .product .product-container .product-description .product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.productDescriptionImg img{
  height: 350px; 
  padding: 20px;
  padding: 0 20px;
  width: 90%;
  margin: auto;
  background-color: #fff;
}

#imageMagnifier{
  background-color: #fff;
  height: 400px;
}

#imageMagnifier img{
  /* height: 100% !important; */
  height: 400px !important;
}

/* Tg Logo */

.productDetailsTitle{
  color: #4d4d4d;
  font-family: 'Raleway',sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.tgLogo{
  width: 110px;
  height: 65px;
}

.custom-table{
  border: 0.5px solid #999999;
}

.singleItemProductTitle{
font-family: 'Montserrat',sans-serif;
font-size: 12px;
text-transform: uppercase;
font-weight: 600;
}

.singleItemProductValue{
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 22px;
}

  /* Related Products */

.relatedProductInfo {
  padding: 1rem 6rem;
  background-color: #fff !important;
  height: 150px;
  color: #ff7d1a;
  margin: 2rem 0;
}

.relatedProductTitle{
  color: #000;
  font-size: 25px;
  font-weight: 700;
  margin-top: 1rem;
}

.relatedProductSubTitle{
  color: #808080;
  font-size: 18px;
  font-family: "Nunito",sans-serif;
  font-weight: 600;
}

@media (max-width:600px){
  .relatedProductInfo {
    height: 150px;
  }
  .relatedProductTitle{
    font-size: 18px;
    font-weight: 600;
  }
  .relatedProductSubTitle{
    font-size: 14px;
    font-weight: 500;
  }
}


@media (max-width:450px){
  .relatedProductInfo {
    padding: 1rem 2rem;
  }
}

@media (max-width: 300px){
  .relatedProductInfo {
   height: 180px;
  }
}

.related-portfolio-slider{
margin-right: 15px;
border-radius: 10px;
background-color: #fff;
height: 320px;
padding: 10px;
}

.related-portfolio-item {
  margin: 4rem 0;
}

.related-portfolio-item-img {
  border-radius: 5px;
}

.related-portfolio-item img {
  height: 220px;
  width: 280px;
  margin: auto;
  padding: 3px;
  /* border-radius: 10px; */
}

.productPrice{
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito",sans-serif;
}

.custom-slider button.slick-arrow.slick-next::before,
.custom-slider button.slick-arrow.slick-prev::before {
  color: #ff7d1a !important; 
  background-color: #e6e6e6 !important;
}

.RelatedProductTable {
  width: 400px;
}

/* Product info tab */

.css-1aquho2-MuiTabs-indicator {
  background-color: #ff7d1a !important;
}

/* Store Location css */

.storeLocation{
  background-color: #fff;
  height: 250px;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2rem;
}

.leftStore{
  padding: 4rem;
}

.rightStore{
  padding: 4rem;
}

.storeLocationLogo{
  width: 30px;
  height: 40px;
  color: #ff7d1a;
  margin-bottom: 10px;
}

.storeHeader {
  color: #ff7d1a;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}

.storeSubHeader{
  color: #595959;
  font-size: 15px;
}

.storeLocationLogoContact{
  color: #ff7d1a;
  margin-top: 2px;
  font-size: 25px;
  margin-bottom: 10px;
}

.Mui-selected{
   color: #ff7d1a !important;
}

@media(max-width:750px){
  .storeLocation{
    margin-top: 1rem;
  }

  .leftStore{
    padding: 3rem;
  }
  
  .rightStore{
    padding: 3rem;
  }

  .storeLocationLogo{
    width: 25px;
    height: 35px;
  }
  
  .storeLocationLogoContact{
    color: #ff7d1a;
    margin-top: 2px;
    font-size: 20px;
  }

  .storeHeader {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
  }
  
  .storeSubHeader{
    font-size: 12px;
  }
}

@media (max-width:500px){
  .leftStore{
    padding: 2rem;
  }
  
  .rightStore{
    padding: 2rem;
  }
  .storeHeader {
    font-size: 15px;
  }
  
  .storeSubHeader{
    font-size: 11px;
  }
}

@media (max-width:400px){
  .leftStore{
    padding: 1rem;
  }
  
  .rightStore{
    padding: 1rem;
  }
  .storeHeader {
    font-size: 12px;
  }
}





@media (max-width: 470px) {
  .RelatedProductTable {
    width: 350px;
    padding: 0;
  }
}


